@model IEnumerable<StockAlimentaire.Models.Utilisateur>

@{
    ViewData["Title"] = "Utilisateur";
}

<partial name="_NavBar" />

<h2>Utilisateur</h2>

<p>
    <a asp-action="Create">Créer un utilisateur</a>
</p>
<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Pseudo
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.utilisateur_nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.utilisateur_prenom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.utilisateur_pseudo)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.utilisateur_id"><i class="glyphicon glyphicon-edit"></i></a>
        <a asp-action="Details" asp-route-id="@item.utilisateur_id"><i class="glyphicon glyphicon-search"></i></a>
        <a asp-action="Delete" asp-route-id="@item.utilisateur_id"><i class="glyphicon glyphicon-trash"></i></a>
    </td>
</tr>
}
    </tbody>
</table>
