@model IEnumerable<StockAlimentaire.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Pseudo
            </th>
            <th>
                Mot de passe
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.utilisateur_nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.utilisateur_prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.utilisateur_pseudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.utilisateur_motDePasse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.utilisateur_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.utilisateur_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.utilisateur_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
