@model StockAlimentaire.Models.Stock
@{
    ViewData["Title"] = "Details";
}

<partial name="_NavBar" />

<h2>Stock - Détail</h2>

<div>
    <h4>@Html.DisplayFor(model => model.stock_nom)</h4>

    <table class="table" id="liste">
        <thead>
            <tr>
                <th>
                    Nom du Produit
                </th>
                <th>
                    Quantité
                </th>
                <th>
                    Course
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.produits)
            {
                <tr id="@item.stockProduit_id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Produit.nomProd)
                    </td>
                    <td>
                        <input type="number" id="qte" name="qte" value="@Html.DisplayFor(modelItem => item.stockProduit_qteStock)" />
                    </td>
                    <td>

                        @if (item.stockProduit_course == true)
                        {
                            <input type="checkbox" id="course" name="course" checked>
                        }
                        else
                        {
                            <input type="checkbox" id="course" name="course">
                        }
                    </td>
                    <td>
                        <!--<a asp-action="Edit" asp-route-id="@item.produit_id"><i class="glyphicon glyphicon-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.produit_id"><i class="glyphicon glyphicon-search"></i></a>-->
                        <btn class="btnSave" data-idstpd="@item.stockProduit_id"><i class="glyphicon glyphicon-floppy-saved"></i></btn>
                        <a asp-action="DeleteStockProd" asp-route-id="@item.stockProduit_id"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.stock_id">Modifer</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function () {
//function will be called on button click having id btnsave
    $(".btnSave").click(function () {
        var id = $(this).attr("data-idstpd");
        var qte = $('#liste #'+id+' #qte').val();
        var course = $('#liste #'+id+' #course').is(':checked');
        $.ajax(
        {
            type: "POST", //HTTP POST Method
            url: "EditProd", // Controller/View
            data: { //Passing data
                IdStockProd : id,
                Qte: qte,
                Course: course
            }
        });
    });
});</script>