@model StockAlimentaire.Models.Stock

@{
    ViewData["Title"] = "Details";
}

<partial name="_NavBar" />

<h2>Stock - Détail</h2>

<div>
    <h4>@Html.DisplayFor(model => model.stock_nom)</h4>

    <table class="table" id="liste">
        <thead>
            <tr>
                <th>
                    Nom du Produit
                </th>
                <th>
                    Quantité
                </th>
                <th>
                    Course
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.produits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produit.nomProd)
                    </td>
                    <td>
                        <input type="number" id="qte" name="qte" value="@Html.DisplayFor(modelItem => item.stockProduit_qteStock)"/> 
                    </td>
                    <td>
                        <input type="checkbox" id="course" name="course" @item.stockProduit_course ? checked : "">
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.produit_id"><i class="glyphicon glyphicon-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.produit_id"><i class="glyphicon glyphicon-search"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.produit_id"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.stock_id">Modifer</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>