@model IEnumerable<StockAlimentaire.Models.Produit>

@{
    ViewData["Title"] = "Produit";
}

<partial name="_NavBar" />

<h2>Produit</h2>

<p>
    <a asp-action="Create">Créer un produit</a>
</p>
<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nomProd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idProd"><i class="glyphicon glyphicon-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.idProd"><i class="glyphicon glyphicon-search"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.idProd"><i class="glyphicon glyphicon-trash"></i></a>
                    <a asp-action="AddStock" asp-route-id="@item.idProd">Ajouter au stock</a>
                </td>
            </tr>
        }
    </tbody>
</table>