@model IEnumerable<StockAlimentaire.Models.StockProduit>

@{
    ViewData["Title"] = "Index";
}

<partial name="_NavBar" />

<h2>Produit du stock</h2>


<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                Nom produit
            </th>
            <th>
                Quantité
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produit.nomProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockProduit_qteStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stockProduit_id"><i class="glyphicon glyphicon-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.stockProduit_id"><i class="glyphicon glyphicon-search"></i></a>
                <a asp-action="Delete" asp-route-id="@item.stockProduit_id"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
