@model IEnumerable<StockAlimentaire.Models.StockProduit>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table" id="liste">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.produit_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockProduit_qteStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produit_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockProduit_qteStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.stockProduit_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.stockProduit_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.stockProduit_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
